.interests_container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem 6rem;
}

@media screen and (max-width: 670px ) {

    .interests_container{
        padding: 1.5rem 2rem;
    }
}

.interests_header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 18vw;
    color: rgba(149, 149, 149, 0.12);
}

.interests_holder{

    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width:768px) {

    .interests_holder{
       width: 100%;
    }
}

p{
    font-family: "Raleway";
    color:#959595;
    line-height: 5rem;
    font-size: 2.5rem;
}

.links{
    font-family: "Raleway";
    font-size: 2.5rem;
    text-decoration: underline;
    color: #02FAEE;
}

@media screen and (max-width:768px) {

    .interests_content{
        font-size: 1.5rem;
        line-height: 3rem;
    }
}

@media screen and (max-width:468px) {

    .interests_content{
        font-size: 1rem;
        line-height: 2rem;
    }

    .links{
        font-size: 1rem;
    }
}

