.contactPage {
  position: relative;
  margin-top: 3rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.locate {
  color: #959595;
  font-size: 1.5rem;
  font-family: "Raleway";
  font-weight: 400;
  margin: 5rem 0rem 2rem 0rem;
  padding: 0 1rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .locate {
    font-size: 1.2rem;
    margin: 3rem 0rem 1.5rem 0rem;
  }
}

@media screen and (max-width: 480px) {
  .locate {
    font-size: 1rem;
    margin: 2rem 0rem 1rem 0rem;
  }
}

.contactLink {
  display: block;
  width: 100%;
  white-space: nowrap;
  border-top: 3px solid #959595;
  border-bottom: 3px solid#959595;
  padding: 2vw;
  overflow: hidden;
}

.marqueeContainer {
  display: flex;
  width: fit-content;
  animation: scroll 10s infinite linear;
}

.contactLink a {
  display: inline-block;
  white-space: nowrap;
  flex-shrink: 0;
  height: 100%;
  font-size: 8vw;
  font-weight: bolder;
  margin: auto;
  transition: 0.7s ease-in-out;
  cursor: pointer;
  padding-right: 4vw;
  font-family: "Antonio";
}

.slide {
  position: relative;
  display: inline-block;
  font-size: 6vw;
  color: #959595;
  overflow: hidden;
  background: linear-gradient(to right, #02faee, #02faee 50%, #959595 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.slide:hover {
  background-position: 0 100%;
}

/* .slideTrack2{
    animation-delay: 5s;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
