.project_container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 6rem;
}

.hoverGuy {
  position: relative;
  display: inline-block;
  font-size: 6vw;
  color: #959595;
  overflow: hidden;
  background: linear-gradient(to right, #02faee, #02faee 50%, #959595 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.hoverGuy:hover {
  background-position: 0 100%;
}

@media screen and (max-width: 670px) {
  .project_container {
    padding: 0.5rem 2rem;
  }
}

.project_header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18vw;
  color: rgba(149, 149, 149, 0.12);
}

/* @media screen and (max-width: 580px) {
   
    .project_header{
        margin-top: 1.5rem;
        justify-content: center;
        font-size: 13vw;
    }
} */

.project_holder {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.projects1 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #959595;
  font-size: 6vw;
  text-decoration: none;
}

@media screen and (max-width: 580px) {
  .project1 {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.projects2 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: #959595;
  font-size: 6vw;
  text-decoration: none;
}

.projects3 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #959595;
  font-size: 6vw;
  text-decoration: none;
}

.projects4 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: #959595;
  font-size: 6vw;
  text-decoration: none;
}

.projects5 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #959595;
  font-size: 6vw;
  text-decoration: none;
}

.projects6 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: #959595;
  font-size: 6vw;
  text-decoration: none;
}

.tool {
  font-size: 1.5vw;
  color: rgba(149, 149, 149, 0.6);
  font-family: "Raleway";
  font-weight: lighter;
}

/* @media screen and (max-width: 750px) {
   
    p{
        font-size: 1rem;
    }
} */

.projectButton {
  font-family: "Raleway";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  color: #959595;
  border: 3px solid #959595;
  cursor: pointer;
  font-size: 1.8vw;
  transition: 0.5s ease-in-out;
  /* margin: auto; */
}

.projectButton:hover {
  color: #000;
  background: #02faee;
  transition: 0.5s ease-in-out;
}

.projects1:hover,
.projects2:hover,
.projects3:hover,
.projects4:hover,
.projects5:hover,
.projects6:hover {
  color: #02faee;
  transition: 0.5s ease-in-out;
}
