.hero_page {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  color: #959595;
}

.hero_header {
  font-size: 1.8rem;
  letter-spacing: 1.5rem;
  margin: 1.5rem 0rem;
  opacity: 0;
  transform: translateY(80px);
  animation: slideUpFadeIn 1.5s ease-out 0.9s forwards;
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dot {
  width: 3%;
  height: 3%;
}

@media screen and (max-width: 580px) {
  .hero_header {
    font-size: 1rem;
  }

  .scroll {
    font-size: 0.5rem;
  }
}

span {
  display: inline-block;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.hero_letter {
  font-size: 23vw;
  font-weight: bold;
  line-height: 18vw;
  transition: all 0.1s ease-in-out;
}

.hero_letter:hover {
  color: #fff;
}

.scroll_button {
  font-family: "Raleway", sans-serif;
  height: 8vh;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scroll {
  font-family: "Raleway", sans-serif;
  /* transform: rotate(-90deg); */
}

.scroll_icon {
  position: relative;
  animation: mymove 0.5s infinite;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 10px;
  }
}
