.footerWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
}

.design {
    font-family: 'Raleway';
    font-size: 1rem;
}

.subomi{
    text-decoration: underline;
    color: #02FAEE;
}

/* .text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 1rem;
    color:#959595;
} */

.media_links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media{
    font-family: 'Raleway';
    font-size: 1rem;
    color:#959595;
    padding-right: 1rem;
    cursor: pointer;
}

a{
    font-family: 'Raleway';
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #959595;
}

@media screen and (max-width: 700px) {

    .media_links{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }

    .media{
        margin-bottom: .3rem;
    }
}

@media screen and (max-width: 768px) {
    .footerWrapper{
        padding: 1.5rem 2rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

@media screen and (max-width: 530px) {

    .footerWrapper{
        padding: 1.5rem 1rem;
    }

    .media{
        font-size: .7rem;
    }

    .design{
        font-size: .7rem;
    }

    a{
        font-size: 0.7rem;
    }
}
