.footerWrapper{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 6rem;
}

.footerContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design {
    font-family: 'Raleway';
    font-size: 1rem;
}

.text{
    font-family: 'Raleway';
    font-size: 1rem;
    color:#959595;
}

.media{
    font-family: 'Raleway';
    font-size: 1rem;
    color:#959595;
    padding-right: 1rem;
    cursor: pointer;
}